@font-face {
  font-family: "iconfont"; /* Project id 2992501 */
  src: url('iconfont.woff2?t=1641968092559') format('woff2'),
       url('iconfont.woff?t=1641968092559') format('woff'),
       url('iconfont.ttf?t=1641968092559') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-train:before {
  content: "\e6ce";
}

.blog-document:before {
  content: "\e6b0";
}

.blog-github:before {
  content: "\e885";
}

.blog-approve:before {
  content: "\e651";
}

.blog-spring:before {
  content: "\e76d";
}

.blog-vue:before {
  content: "\e846";
}

.blog-java:before {
  content: "\e639";
}

.blog-react:before {
  content: "\e689";
}

.blog-springboot:before {
  content: "\e6fe";
}

.blog-golang:before {
  content: "\e61b";
}

.blog-moon:before {
  content: "\e600";
}

.blog-sun:before {
  content: "\e601";
}

.blog-view:before {
  content: "\e942";
}

.blog-left:before {
  content: "\e7ec";
}

.blog-doubleright:before {
  content: "\e7ee";
}

.blog-friend:before {
  content: "\e6cc";
}

.blog-liuyan:before {
  content: "\e744";
}

.blog-right:before {
  content: "\e7eb";
}

.blog-doubleleft:before {
  content: "\e7ed";
}

.blog-qianwang:before {
  content: "\e60d";
}

.blog-label:before {
  content: "\e707";
}

.blog-guidang:before {
  content: "\e619";
}

.blog-home:before {
  content: "\e6b8";
}

.blog-other:before {
  content: "\e631";
}

.blog-about:before {
  content: "\e648";
}

.blog-pay:before {
  content: "\e6a3";
}

